:root{
    --brown: #F3EDE5;
    --blue: #0C5EE4;
    --vanila: #FDFCFA;
    --black: #212935; 


}


*{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    width: 1440px;
    background-color: var(--vanila);
}


a{
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
   
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
   
  nav a {
    text-decoration: none;
    color: #333;
  }
   
  nav a:hover {
    color: var(--blue);
  }

.skills-section{
    margin-top: 10px;
}

.skills-content{
    padding: 5px;
    margin-top: 10px;
    background-color: var(--brown);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.skills-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill{
    width: 30%;
    padding: 10px;
}

.position-card{
    margin-top: 10px;
    background-color: var(--brown);
    border-radius: 10px;
    display: flex;
}

.position-card h3{
    color: var(--blue);
}

.main-information{
    width: 30%;
    padding-left: 10px;
}
.main-tasks{
    width: 70%;
}

.languages-text{
    background-color: var(--brown);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.language-card{
    margin: 0;
    padding: 10px;
    width: 30%;
}

.language-card h3{
    color: var(--blue);
}

.education-text{
    padding-bottom: 10px;
    background-color: var(--brown);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.education-card{
    padding: 10px;
    width: 50%;
}

.education-card h3{
    color: var(--blue);
}

.contacts{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.contact-image{
    padding: 10px;
    width: 60%;
}

.contact-image img{
    width: 50px;
    height: 50px;
}